
.iconfont {
  font-family:"iconfont" !important;
 font-size: 0.55rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e672"; }

.icon-order:before { content: "\e62f"; }

.icon-search1:before { content: "\e66b"; }

.icon-add:before { content: "\e62b"; }

.icon-close:before { content: "\e608"; }

.icon-close1:before { content: "\e619"; }

.icon-back:before { content: "\e669"; }

.icon-iconfontcolor33:before { content: "\e691"; }

.icon-close2:before { content: "\e60b"; }

.icon-geren:before { content: "\e662"; }

.icon-book:before { content: "\e60c"; }

.icon-yuding:before { content: "\e626"; }

.icon-tuijian:before { content: "\e614"; }

.icon-shu:before { content: "\e628"; }

.icon-icon25:before { content: "\e618"; }

.icon-shoutidai:before { content: "\e683"; }

.icon-shuaxin:before { content: "\e6c3"; }

.icon-yuding1:before { content: "\e643"; }

